body {
      font-family: Arial, sans-serif;
      background-color: #f2f7fc;
      margin: 0;
      padding: 40px;
      display: flex;
      justify-content: center;
    }

    .container {
      display: flex;
      background: #fff;
      padding: 40px;
      justify-content: space-between;
      border-radius: 40px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
      gap: 40px;
      max-width: 950px;
      align-items: center;
      gap: 4rem;
      overflow: hidden;
    }

    .product-image {
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
      overflow: hidden;
    }
    

    .shoe {
      width: 100%;
      position: absolute;
      transition: all 0.5s ease;
    }

    .shoe-img {
      display: none;
    }

    
    

    input[type="radio"] {
      display: none;
    }

    .color-options {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      
    }

    .color-label {
      width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;  
  cursor: pointer;
  display: inline-block;
    }
    .color-label:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}


    .color-blue { background: #1653c7; }
    .color-black { background: #000; }
    .color-white { background: #fff; }
    .color-gray {background: #aaa;}
    .color-multi{background: conic-gradient( #fafafa, #8b877f, #516813,#1a64c5, #861ac5, white );}

    /* Default shoe image (blue) */
    #blue:checked ~ .container .product-image {
      background-color: #1653c7;
    }
    #blue:checked ~ .container .shoe-img.blue {
      display: block;
    }

    #black:checked ~ .container .product-image {
      background-color: #000;
    }
    #black:checked ~ .container .shoe-img.black {
      display: block;
    }

    #white:checked ~ .container .product-image {
      background-color: #e5e5e5;
    }
    #white:checked ~ .container .shoe-img.white {
      display: block;
    }
     #gray:checked ~ .container .product-image {
      background-color: #aaa;
    }
    #gray:checked ~ .container .shoe-img.gray {
      display: block;
    }
     #multi:checked ~ .container .product-image {
      background-color:#1a64c5 ;

    }
    #multi:checked ~ .container .shoe-img.multi {
      display: block;
    }
    

    .product-details {
      max-width: 400px;
    }

    .product-details h2 {
      margin: 0;
      font-size: 24px;
    }

    .subtitle {
      color: #777;
      margin: 5px 0;
    }

    .price {
      font-weight: bold;
      font-size: 20px;
      margin: 10px 0;
    }

    .description {
      font-size: 14px;
      color: #444;
      margin-bottom: 20px;
    }

    select {
      padding: 5px;
      margin-bottom: 15px;
      display: block;
      cursor: pointer;
    }

    .buttons {
      display: flex;
      gap: 10px;
    }

    .add-cart {
      background-color: black;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }
    .add-cart:hover {
  background-color: #333;
  transform: scale(1.05);
  transition: all 0.3s ease;
}


    .favourite {
      background-color: white;
      color: black;
      padding: 10px 20px;
      border: 1px solid black;
      cursor: pointer;
    }
